
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="../static/main.css" />
        <title>What do ya wanna do?</title>
	</head>

	<body>
		<form method="post" name="section" class="wrapper">
			<button type="button" value="rot13" class="myButton">Mystify your text!</button>
			<input type="button" value="birth" class="myButton">
			<input type="button" value="signup" class="myButton">
		</form>
		<!--
		<form method="post">
			<select name="section">
				<option value="birth">Enter Birthday</option>
				<option value="rot13">Convert to ROT13</option>
				<option value="signup">Signup Form</option>
			<br>
			<input type="submit">
		</form>
	-->
	</body>
</html>

